.flip-card {
  background-color: transparent;
  height: 20rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: flex;
  flex-direction: column;
  z-index: 5;
  align-items: center;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: calc(10rem + 15vw);
  text-decoration: none;
  height: 20rem;
  padding: 1rem;
  border: 2px solid #fdeff4;
  box-shadow: 0 2px 8px #e3b7a0;
  background-color: #fff;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 90%;
  height: 90%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

/* Style the back side */
.flip-card-back {
  background-color: #E3B7A0;
  color: #1c0a00 ;
  transform: rotateY(180deg);
  text-align: center;
  padding: 1.5rem;
}
